*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E493B3;
    min-height: 200vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 
    transition: 0.6s;
    padding: 10px 21px;
    z-index: 10000;
}
nav{
     display: flex;
    justify-content: space-between;
    align-items: center;  
}
header .logo{
    margin-right: 30px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header nav  ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav  ul li {
    position: relative;
    list-style: none;
}
header nav  ul li a {
    font-size: 17px;
    text-decoration: none;
    margin: 0 15px;
    color: #000000;
    letter-spacing: 2px;
    font-weight: 500;
    transition: 0.6s;
}
header.sticky{
    margin: 0;
    padding: 5px 100px;
    transition: 0.6s ease-out;
    backdrop-filter: blur(6px) brightness(1.2);
}
header.sticky .logo {
    background: #D5A6BD;
    color: #3e3e3e;
    background-color: transparent;
}
header nav ul li a:hover{
        border-bottom: solid #000 ;
        opacity: 0.5;
}
 .nn{
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    display: grid;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    height: 100%;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
/* Home */
.Home{
    margin: 50px 15px;
    padding: 15pX;
    display: flex;
    align-items: center;
}
.personality{
    margin-right: 45px;
}
.personality h2{
    margin: 6px;
    color:#FDFFD2	;
}
.button {
  margin-top: 22px;
  all: unset;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
}

.button::after,
.button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background:#DA7297;
  border-radius: 10px;
}

.button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}
.apper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.box{
    background-image: url(WhatsApp\ Image\ 2024-05-03\ at\ 20.34.52_9ecc4b7e.jpg);
    background-position: center center;
    height: 350px;
    width: 350px;
    box-shadow: 0 20px 5px 5px rgbA(0,0,0,0.2);
    animation: animate 5s ease-in-out infinite ;
    transition: all 1s ease-in-out;
}
@keyframes animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.AboutALL ,.Service , .Contact{
    background: #da729626;
    margin: -48px -51px;
    padding: 15pX; 
}
.apper {
    display: inline;
    height: 57vh;
}
.About{
    display: inline;
}
.AboutALL, .Service, .Contact{
    margin: 0;
}
.Real-Life{
    margin: 0 60px 0 90px;
}
.About ul  {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  margin-bottom: 20px;
}
.button-cv a{
    text-decoration: none;
    color: #fff;
}
.box2{
    height: 300px;
    width: 300px;
}
.border{
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border: #f4dde6 solid 2px;
}
.column{
display: flex;
flex-direction: column;
}
.column a {
    display: flex;
    line-height: 260%;
    align-items: center;
}
.column a img {margin-right:6px;}
.column h3{
    font-family: "Caveat", cursive;
    color: #ffff;
    margin: 5px;
}
.History{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}
.scroll{
    position: absolute;
    width: 600px;
    height: 400px;   
}
.scroll .item{
    position: absolute;
    width: 100%;
    height: 100%;  
    background: var(--img);
    background-size: cover;
    transition: 2s;
    box-shadow: 0 0 20px 9px rgb(245 123 123 / 25%);
}
.scroll .item:nth-child(n-5){ 
    transform: translate3d(0,-5vw,0);
}
.scroll .item:nth-child(6){ 
    transform: translate3d(-35x ,-35px,0) rotate(3deg);
}
.scroll .item:nth-child(7){ 
    transform: translate3d(-25px ,-25px,0) rotate(-8deg);
}
.scroll .item:nth-child(8){ 
    transform: translate3d(0px ,0px,0) rotate(8deg);
}
.scroll .item:nth-child(9){ 
    transform: translate3d(25px ,25px,0) rotate(-3deg);
}
.scroll .item:nth-child(n+10){ 
    transform: translate3d(50px ,50px,0);
}
.scrolling h1 , .Service h1 , .Contact h1{
    color: #FDFFD2;
    text-align: center;
    font-family: "Caveat", cursive;
}
.Service{
    margin: 25px;
}
.div-row{
    display: flex;
    margin: 15px;
}
.div-row{
    text-align: center;
}
.div-column {
    margin: 23px;
}
.MY-Life{
    margin: 48px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.MY-Life div{
    margin-right: 20px;
}
.information p{
    opacity: 0.2;
}
.information h4{
    font-family: 500;
    color: #FDFFD2;
    margin-bottom: 9px;
}
.information .data{
    margin: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}
.information .data img{
    border-radius: 50%;
}
.Text{
    margin-left: 24px;
}
.day {
    color: #FDFFD2;
}
.mar{
    margin: 20px;
}

.Contact {
  text-align: center;
  font-family: monospace;
}
.side h1 {
  font-size: 2rem;
    color:black;
}
textarea, input, button {
  line-height: 1.5rem;
  border: 0;
  outline: none;
  font-family: inherit;
  appearance: none;
}
textarea, input {
  color: #464646;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='24'><rect fill='rgb(229, 225, 187)' x='0' y='23' width='10' height='1'/></svg>");
}
textarea {
 width: 100%;
 height: 8rem;
 resize: none;
}
input {
 width: 50%;
 margin-bottom: 1rem;
 margin-left: 172px;
}
#sendLetter {
 margin-left: 239px;
 padding: 0.5rem 1rem;
 border-radius: 0.25rem;
 background-color: rgb(98, 98, 98);
 color: white;
 font-size: 1rem;
 transition: background-color 0.2s;
  &:hover,:focus {
    outline: none;
    background-color: rgb(47, 47, 47);
  }
}
.letter {
  padding: 50px ;
  width: 33rem;
  margin: auto;
}
.side {
  height: auto;
  background-color: #fcfcf8;
  outline: 1px solid transparent;
  padding: 2rem 2rem;
    border-radius: 1rem 1rem ;
    box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
  }
.centered {
  position: relative;
}

@media  screen and (max-width: 1153px) {

    .MY-Life {
        margin: 9px 9px 90px;
        padding: 7px
    }
    .information h1{
        font-size: 27px;
    }
    .MY-Life div {
        margin-right: 0;
    }
    .Service {
        margin: -49px;
    }
}

@media   (max-width: 855px) {
    .nn{
        margin: 20px 20px 0 0 ;
        display: inline-flex;
      }
      .mm{
        display: none;
      }
    header ul li a {
        margin: 0 9px;
    }
    .information h1{
        font-size: 23px;
    }
    .information .data {
        flex-direction: column-reverse;
    }
    .Text {
        margin-right: -14px;
    }
}
@media  screen and (max-width: 720px) {
    .Home {
        margin: 50px 15px;
        display: flex;
        flex-direction: column-reverse;
    }
    .About {
        display: inline
    }
    .border {
        margin: 30px 67px;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .scroll {
        width: 300px;
        height: 280px;
    }
    .History {
        min-height: 79vh;
    }
    .scroll .item {
       border-radius: 0%;
        box-shadow: 0 0 17px 2px rgba(252, 169, 169, 0.54);
    }
    .div-row {
        margin: 15px 0 0 15px ;
    }
    .MY-Life {
        flex-direction: column-reverse;
    }
    .nn{
        margin: 20px 20px 0 0 ;
        display: inline-flex;
      }
      .mm{
        display: none;
      }
    header ul li a {
        margin: 0 9px;
    }
    .information h1{
        font-size: 23px;
    }
    .information .data {
        flex-direction: column-reverse;
    }
    .Text {
        margin-right: -14px;
    }
}